body {
  background-color: aqua;
}

header {
  text-align: center;
}

.Form {
  display: flex;
  justify-content: center;
}

.Form .todo-input,
.Form .todo-add-btn,
.Form .select select {
  margin: 10px;
  border: 0;
  border-radius: 6px;
  padding: 10px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style-type: none;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Todo {
  background-color: white;
  display: flex;
  margin-bottom: 8px;
}

.todo-item {
  width: 180px;
}